.iris{font-family:"Arial";	font-size:14px;}
.iris_paramvalue {color:#0000FF;	}
.iris_htmlcomment {color:#808080;	font-style:italic;}
.iris_tag {color:#000080;}
.iris_img {color:#800080;}
.iris_A {color:#008000;}
.iris_form {color:#FF8000;}
.iris_table {color:#008080;}
.iris_entity {color:#000000; font-weight:bold;}
.iris_styletag {color:#800080;}
.iris_styleitem {color:#800080;}